* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

header {
    background: #3b10ff;
    color: white;
    padding: 10px 20px;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10%;
}

header ul li a {
    color: rgb(255, 18, 18);
    text-decoration: none;
}

section .about {
    /* padding: 30px; */
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.container {
    height: 80vh;
    background-color: antiquewhite;

}

#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap: 10%;

}

#about h1{
    padding :1%
}

.photo {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
   
}

.img {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-right: 30px;
}

#Experience {
    background-color: darksalmon;
    padding-top: 1%;
    padding-bottom: 1%;
}

#Experience h2 {
    color: indigo;
    text-align: center;
}

#Experience .lists {
    color: blue;
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    margin: 1%;

}

#projects {
    background-color: aqua;
    padding-top: 1%;
    padding-bottom: 1%;
}

#projects .lists {

    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    margin: 1%;
}

#projects h2 {
    text-align: center;
    color: indigo;

}

#projects p {
    color: blue;
}

#contact{
    background-image: linear-gradient(rgb(255, 37, 37),rgb(42, 42, 247));
}

footer{
    padding-top: 1%;
    padding-bottom: 1%;
}


footer form {
    display: flex;
    flex-direction: column;
    /* width: 50%;   */
    justify-content: center;
    align-items: center;
}

footer h3{
    text-align: center;
}

footer button{
    color: #f51010;
    background-color: black;
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
    border : 2px solid rgb(8, 112, 4);
    opacity: 0.7;
}

footer input,
footer button {
    margin: 5px 0;
    padding: 10px;
}

@media (max-width: 768px) {
    header ul {
        flex-direction: column;
    }
}